<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mt-5 bg-primary text-white rounded">
      <div class="card-header text-center pt-5">
        <h1 class="h4 text-white">
          Recover Password
        </h1>
      </div>
      <div class="text-center fs-3">
        <p>CoderCommerce</p>
      </div>
      <div class="card-body">
        <form action="/api/mail" method="POST">
          <div class="mb-3">
            <label for="email">Email:</label>
            <input
              type="email"
              class="form-control bg-dark text-white"
              name="email"
              placeholder="Email"
              autofocus
              {{#if email}}
                value="{{email}}"
              {{/if}}
            />
          </div>
          
          <button class="btn btn-success w-100">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>