<div>
    <div>
        <h2>Ingrese su email para restablecer la contraseña</h2>

        <form action="http://localhost:8080/api/mail" method="post">
            <p class="text">Email</p>
            <input type="text" name="email" id="email" placeholder="correo@correo.com">

            <button type="submit" id="btn">Enviar email</button>
        </form>
    </div>
</div>