<main>
    <h1>Formulario para la carga de archivos</h1>

    <h3>Subir imagen de perfil</h3>
    <form action="" method="POST" enctype="multipart/form-data">
        <label for="profile"> Seleccionar imagen de perfil:</label>
        <input type="file" name="profile">
        <button type="submit" id="boton" name="profile">Enviar</button>
    </form>

    <h3>Subir imágenes de productos</h3>
    <form action="" method="POST" enctype="multipart/form-data">
        <label for="products"> Seleccionar imágenes de productos:</label>
        <input type="file" name="products" multiple>
        <button type="submit" id="boton" name="products">Enviar</button>
    </form>

    <h3>Subir documentos de usuario</h3>
    <form action="" method="POST" enctype="multipart/form-data">
        <label for="documents"> Seleccionar documentos:</label>
        <input type="file" name="documents" id="documents" multiple>
        <button type="submit" value="Upload files" id="boton" name="documents">Enviar</button>
    </form>
</main>