<div>
    <h2>Inicia Sesion</h2>

    <form action="auth/login" method="post">
        <p>Email</p>
        <input type="text" name="username" id="email" placeholder="user@gmail.com">

        <p>Password</p>
        <input type="text" name="password" id="password" placeholder="************">

        <button type="submit" id="btn">Iniciar Sesión</button>
        <button type="submit" id="btnGit">Iniciar Sesión con Github</button>
    </form>
</div>

<script src="/public/js/login.js"></script>