<div>
  <h2>Registrate</h2>

  <form action="register" method="post">

    <p>Nombre</p>
    <input type="text" name="first_name" id="email" placeholder="Tu nombre" />

    <p>Apellido</p>
    <input type="text" name="last_name" id="email" placeholder="Tu apellido" />
    
    <p>Edad</p>
    <input type="text" name="age" id="email" placeholder="Tu edad" />

    <p>Email</p>
    <input type="text" name="email" id="email" placeholder="user@gmail.com" />

    <p>Password</p>
    <input
      type="text"
      name="password"
      id="password"
      placeholder="************"
    />

    <button type="submit" id="btn">Registrarse</button>
  </form>
</div>

<script src="/public/js/login.js"></script>